.hidden {
    display: none;
}

.bg-red {
    background-color: rgb(255, 66, 66);
}

.bg-blue {
    background-color: rgb(48, 48, 255);
}

.text-xl {
    font-size: 24px;
}

.text-bold {
    font-weight: 800;
}

.mouse-container {
    margin: 10px;
    /* background-color: red; */
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
}

hr {
    margin: 20px 0px;
}